*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url("images/BLACK\ \ pink.jpg");
    background-attachment: fixed;
    font-family: "Merienda", cursive;
    color: #b49696;
}
nav ul{
    background-color: #b49696;
    list-style: none;
    text-align: center;
     display: flex;
    gap: 70px;
    flex-direction: row;
    /*justify content aligns the MAIN axis wich is definrd by flex direction.its not alwayeshorizontal alignment.*/
    justify-content: center;
}
.logo{
    font-size: 70px;
    color: #af1e64fe;
}

h1{
    font-size: 55px;
    text-align: center;
    margin: 25px 0;
    letter-spacing: 4px;
    color: #af1e64fe;
}

h2, h3, header{
    text-align: center;
    font-size: 32px;
    margin: 25px 0 10px;
    font-family: "Almendra SC", serif;
    color: #ffd6eb;
}

.article, .story, section{
    background: rgba(20,20,20,0.85);
    padding: 25px;
    margin: 30px auto;
}
p{
    line-height: 1.7;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    color: #eee;
}


img{
    width: 380px;
    margin: 20px;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

ul li p{
    color: #dd257e;
    font-size: 30px;
    margin-bottom: 15px;
}
.sidebar{
    padding: 25px;
    margin: 40px auto;
}
.title{
    font-size: 48px;
    color:  #dd257e;
}

footer{
    background: linear-gradient(rgb(54, 51, 51), #bf1b6a);
    padding: 25px;
    text-align: center;
    font-size: 22px;
}



