    
        /*jisoo*/
        .jisoo{
            background-attachment: fixed;
            box-sizing: border-box;
            background-size: contain;
            margin-top: 15px;
            margin-bottom: 7px;
        }
         p.jisoo{
            font-size: 30px;
         }
        h1.jisoo{
            color: rgb(4, 114, 114);
           background-color:rgb(213, 215, 222);
            font-size: 80px;
            text-align: center;
        }
        h3.jisoo{
            color:rgb(3, 110, 110);
            font-size: 45px;
            text-align: center;
        }
        p.jisoo{
            background-color: rgb(243, 233, 221);
            text-align: center;
            color: rgb(3, 110, 110);
            font-size:40px;
        }
        header.jisoo{
            text-align: center;
             color: rgb(3, 110, 110);
            font-size: 50px;
        }
        .section p.jisoo{
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .sidebar.jisoo{
            font-size: 40px;
        }
        .sidebar p.jisoo{
            font-family: "Merienda", cursive;
            margin-top: 30px;
            margin: 10px;
          font-size: 25px;
          color:rgb(244, 251, 251);
          
        }
    
         .sidebar .jisoo{
            background: black;
            opacity: 90%;
        }
        img.jisoo{
            width: 250px;
            margin-left: 45px;

        }
        h2.JISOO{
            color: rgb(14, 13, 14);
            margin-top: 26px;
            margin-bottom: 5px;
        }
        h2.jisoo{
            font-family: "Uncial Antiqua", system-ui;
            font-size: 50px;
            text-align: center;
        }

            