body{
   background-image: url(images/black\ pink🍂.webp);
    color:#e067a4;
    background-attachment: fixed;
    box-sizing: border-box;
     background-size:contain;
     opacity: 100%;
 }
 h1.lisa{
   background-color: #101010;
   color: #f2efef;
   font-size: 100px;
    text-align: center;
     font-family: "Creepster", system-ui;
     margin-top: 10px;
    margin-bottom: 15px;
 }
 section p.lisa{
   background-color: #101010;
   padding-left: 35px;
   padding-right: 35px;
   color: #a00553;
    font-size: 38px;
    text-align: center;
}
img.lisa{
      width: 380px;
     margin-bottom: 20px;
     margin-left: 20px;
}  
section .sidebar .lisa{
   background: #0b0b0b;
   opacity: 90%;
}
            
 h2.lisa{
   text-align: center;
   background-color: rgb(215, 244, 244);
   color: #a00553;
     font-size: 50px;
     margin-left: 30px;
     margin-bottom: 2px;
 }
 header.lisa{
   background-color: rgb(211, 246, 246);
   color: #ad0257;
    font-size: 50px;
   
 }
 .sidebar p.lisa{
    font-size: 28px;
     font-family: "MedievalSharp", cursive;
    margin-left: 30px;
 }
    .sidebar p.lisa{
      color: #f6f2f4;
        margin-top: 20px;
        margin-bottom: 15px;
 }   




